/**
 * @copyright	Copyright (C) 2005 - 2016 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

.manager table td,
.manager table th {
	border-left: 1px dashed #E7E7E7;
	border-right: 1px solid #fff;
}

.manager table td.filesize {
	text-align: left;
}

.manager table td.description {
	text-align: right;
}

.manager table th {
	border-right: 0 solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
}
