/**
 * @copyright	Copyright (C) 2005 - 2016 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

#treeview {
	padding: 10px;
	width: 190px;
	overflow: auto;
	/*height: 390px;*/
	border: 0;
}

#folderview {
}

#folderview .path {
	margin-bottom: 10px;
}

#folderview .view {
	display: block;
	margin: 0;
	padding: 0;
	height: 360px;
}

#folderview input#folderpath {
	width: 65%;
	background-color: #f5f5f5;
}

#folderview input#foldername {
	width: 20%;
}

#folderview iframe#folderframe {
	height: 100%;
}

#uploads .upload {
	padding: 4px;
}

/**
 * Upload Widget CSS
 */

#upload-flash {
	font-size: 12px;
	margin-left: 5px;
}
#upload-flash ul {
	margin-left: -15px;
}

#upload-queue {
	list-style: none;
	clear:both;
	margin-left:25px;
	padding:10px;
}

#upload-queue li.file {
	border-bottom: 1px solid #eee;
	background: url(../images/upload.png) no-repeat 4px 6px;
	border:1px solid #ccc;
	overflow: auto;
}

#upload-queue li.file.file-uploading {
	background-image: url(../images/uploading.png);
	background-color: #D9DDE9;
}

#upload-queue li.file.file-success {
	background-image: url(../images/success.png);
}

#upload-queue li.file.file-failed {
	background-image: url(../images/failed.png);
}

#upload-queue li.file .file-name {
	font-size: 1.2em;
	margin-left: 25px;
	display: block;
	clear: left;
	line-height: 20px;
	height: 20px;
	font-weight: bold;
}

#upload-queue li.file .file-remove {
	font-size: 0.9em;
	float: right;
	line-height: 18px;
	margin-right: 6px;
}


#upload-queue li.file .file-size {
	font-size: 0.9em;
	line-height: 18px;
	float: right;
	margin-right: 6px;
}

#upload-queue li.file .file-info {
	display: block;
	margin-left: 44px;
	font-size: 0.9em;
	line-height: 18px;
}

p.overall-title,
p.current-title,
p.current-text {
	margin: 0;
	padding: 0;
	font-weight:bold;
}
p.overall-title { margin-top: 15px;}

div#upload-flash ul li {
	float:left;
	clear:right;
	margin-left: 10px;
}

li a#upload-browse,
li a#upload-clear,
li a#upload-start {
	display:block;
	padding: 3px;
	border: 1px solid #ccc;
	background-color: #efefef;
}

div#media-noimages {
	width: 100%;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#CCCCCC;
}

.overall-title, .current-title {
	font-size:12px;
}

.spinner {
	position: absolute;
	left: 50%;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 999;
	background: #fff;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url(../../jui/images/ajax-loader.gif) center no-repeat;
	width: 66px;
	height: 66px;
	margin: 0 auto;
}

p.nowarning {
	float: left;
	margin-right: 15px;
}

div#update-progress {
	clear: both;
}
