/**
 * @copyright	Copyright (C) 2005 - 2016 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

.item {
	float: left;
	border: 1px solid #ccc !important;
	margin: 3px;
	position: relative;
	padding: 0 !important;
}

.item a {
	display: table-cell !important;
	display: block;
	width: 80px;
	height: 90px;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	color: black;
	line-height: 90px;
	background: #fff !important;
}

.item img {
	display: inline;
	margin-top: expression(( 80 - this.height ) / 2);
	border: 0;
}

html>body .item img {
	margin: auto;
}

.item span {
	line-height: 100%;
	clear: both;
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2px 0;
	background-color: #eee;
	overflow: hidden;
	font-family: Tahoma, Verdana, sans-serif !important;
	font-size: 11px;
}

.item  a:link span,
.item a:visited span {
	background-color: #eee;
	color: #333;
}

.item  a:hover span,
.item a:active span,
.item a:active focus {
	background-color: #eee;
	color: #095197;
}
