/**
 * @copyright	Copyright (C) 2005 - 2016 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

img {
	border: 0 none;
}

form {
	padding: 0px;
	margin: 0 auto;
	width: 100%;
}
button {
	padding: 3px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	color: #0B55C4;
	background-color: white;
}
button:hover {
	border: 1px solid #0B55C4;
}

iframe {
	width: 100%;
	overflow-x: false;
	border: 0 none;
	margin: 0 0 0.5em 0;
	padding: 0;
}

iframe#imageframe {
	height: 200px;
}

a:hover {
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.buttons {
	width: 70px;
	text-align: center;
}

#messages {
	position: relative;
	left: 175px;
	top: 115px;
	background-color: white;
	width: 200px;
	float: left;
	margin-top: -52px;
	border: 1px solid #ccc;
	text-align: center;
	padding: 15px;
}

#message {
	font-size: 15px;
	font-weight: bold;
	color: #69c;
}

#uploads .upload {
	padding: 4px;
}

/**
 * Upload Widget CSS
 */

#upload-flash {
	font-size: 11px;
	margin-left: 5px;
}

#upload-flash p {
	font-size:11px
}

#upload-flash ul {
	margin-left: -15px;
}

#upload-flash .progress {
	background: url(../images/progress.gif) no-repeat;
	background-position: +50% 0;
	margin-right: 0.5em;
	vertical-align: middle;
}

#upload-queue {
	list-style: none;
	clear:both;
	margin-left:25px;
	padding:10px;
}

#upload-queue li.file {
	border-bottom: 1px solid #eee;
	background: url(../images/upload.png) no-repeat 4px 6px;
	border:1px solid #ccc;
	overflow: auto;
}

#upload-queue li.file.file-uploading {
	background-image: url(../images/uploading.png);
	background-color: #D9DDE9;
}

#upload-queue li.file.file-success {
	background-image: url(../images/success.png);
}

#upload-queue li.file.file-failed {
	background-image: url(../images/failed.png);
}

#upload-queue li.file .file-name {
	font-size: 1.2em;
	margin-left: 25px;
	display: block;
	clear: left;
	line-height: 20px;
	height: 20px;
	font-weight: bold;
}

#upload-queue li.file .file-remove {
	font-size: 0.9em;
	float: right;
	line-height: 18px;
	margin-right: 6px;
}


#upload-queue li.file .file-size {
	font-size: 0.9em;
	line-height: 18px;
	float: right;
	margin-right: 6px;
}

#upload-queue li.file .file-info {
	display: block;
	margin-left: 44px;
	font-size: 0.9em;
	line-height: 18px;
}

div#upload-flash ul{
	margin:5px 0 5px 0;
	overflow:hidden;
	padding:0
}

div#upload-flash ul li {
	float:left;
	clear:right;
	margin-right: 10px;
	list-style-type:none
}

li a#upload-browse:link,
li a#upload-browse:visited,
li a#upload-clear:link,
li a#upload-clear:visited,
li a#upload-start:link,
li a#upload-start:visited {
	display:block;
	padding: 3px;
	border: 1px solid #ccc;
	background-color: #efefef;
	color:#0B55C4
}
li a#upload-browse:hover,
li a#upload-clear:hover,
li a#upload-start:hover {
	display:block;
	padding: 3px;
	border: 1px solid #ccc;
	background: #E8F6FE;
	color:#333
}

/* added Angie */

#upload-noflash {
		border:0
}
.hide {
	display:none
}

label.hidelabeltxt {
	text-indent: -9999em;
}
