/**
 * @copyright	Copyright (C) 2005 - 2016 Open Source Matters, Inc. All rights reserved.
 * @license	GNU General Public License version 2 or later; see LICENSE.txt
 */

body.site {
	margin: 0;
	padding: 0;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin: 0 auto;
	max-width: 30em;
	background-color: #ffffff;
}

.header {
	text-align: center;
	margin: 0 0 1em 0;
}

img {
	max-width: 100%;
	height: auto;
	border: 0;
}

form, fieldset {
	margin: 0;
	padding: 0;
}

label {
	display: block;
	margin: 0;
}

input[type="text"], input[type="password"] {
	box-sizing: border-box;
	width: 100%;
	height: auto;
}

input {
	margin: .5em 0 1em 0;
}
